body {
    background-color: lightgray;
}

.main {
    background-color: white;
    margin: 30px;
}

.btn-publish {
    float: right;
    margin-bottom: 30px;
}

.media-object {
    width: 38px;
    height: 38px;
}

.media-body {
    padding-top: 10px;
}

.question-status {
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.question-tag{
    margin-right: 5px;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    margin-bottom: 15px;
    color: #999;
    font-size: 13px;
}

.publish-tag-lab{
    margin-top: 10px;
    padding-top: 10px;
}



.publish-tag-lab .label-info{
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.comment-sp {
    margin-top: 0px;
}

.menu {
    color: #999999;
    margin-top: 5px;
}

.menu .icon {
    font-size: 15px;
    margin-right: 6px;
    cursor: pointer;
}
.menu .comment-icon{
    margin-right: 6px;
    cursor: pointer;
}

.menu .comment-icon :hover{
    color: #499ef3;
}
.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

.question-title {
    margin-top: 25px;
}

.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eeeeee;
    padding-top: 15px;
    margin-bottom: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}

.footer{
    padding: 10px 25%;
    color: #666;
}